body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

label,
input,
button {
  margin-bottom: 10px;
}
