body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Dancing Script", cursive;
}

.container {
  text-align: center;
  background-color: #ad84f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #e5e2ec;
}

label {
  color: #fff;
}

input {
  padding: 10px;
  border: 1px solid #431198;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #b539be;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

p {
  margin: 10px;
  color: #fff;
}

.dice {
  font-size: 3rem; /*  dimens */
  line-height: 1.5; /*height of the line to centrate il dado */
  transform-origin: center;
}

.roll {
  animation: rollDice 2s ease-out;
}

@keyframes rollDice {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.userClass {
  color: rgb(179, 18, 117);
  font-weight: bold;
}
